*,
:after,
:before {
    box-sizing: border-box;
    color: currentColor;
}
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-family: sans-serif;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    line-height: 1.4;
    overflow-y: scroll;
    background-color: var(--bg);
    color: var(--copy);
}
@supports (scrollbar-gutter: stable) {
    body {
        overflow-y: auto;
        scrollbar-gutter: stable;
    }
}

/* DEMO */

:where(html) {
    --usable-height: 48px;
    --disabled-opacity: 0.8;
    --transparent: transparent;
    --black: #1c2127;
    --bg: #f9f9f9;
    --copy: #2d3436;
    --grey: #555;
    --accent-1: #45ffbc;
    --accent-2: #e3ffa8;
    --accent-3: #ff6b6b;
    --font-size-fluid-2: max(2rem, min(9vw, 3.5rem));
}

header {
    padding: 0.5em 0;
    text-align: center;
}

main {
    width: min(320px, 90vw);
    margin-inline: auto;
    margin-block: 2em;
}

/* FORM */
form {
    width: 100%;
}

button,
input {
    border-radius: 0.2em;
    padding: 0.4em 0.6em;
    font: inherit;
    font-family: inherit;
    min-height: var(--usable-height);
    transition: border 0.2s 0.1s ease-in-out;
    border: 0.3em solid var(--black);
    width: 100%;
}

input {
    caret-color: var(--black);
    font-size: max(16px, 1rem);
    border-color: var(--black);
}

button {
    cursor: pointer;
}

button.-icon {
    height: max(var(--usable-height), 2em);
    width: max(var(--usable-height), 2em);
}

button:hover,
input:hover {
    border-color: var(--accent-1);
}

button:focus,
input:focus,
button:focus-visible,
input:focus-visible {
    outline: none;
    background-color: var(--bg);
    border-color: var(--accent-1);
}

button[disabled],
input[disabled] {
    opacity: var(--disabled-opacity);
}

@media (orientation: portrait) {
    input {
        font-size: 16px;
    }
}

/* LIST */
ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}

label,
li {
    font-size: 1.2em;
}
li {
    font-weight: 600;
    border-radius: 0.2em;
    padding: 0.4em 0.6em;
    background-color: var(--accent-2);
    border: 0.3em solid var(--black);
}

li:nth-of-type(4) {
    background-color: var(--accent-3);
}
li:nth-child(n + 5) {
    background-color: var(--accent-1);
}

/* COUNTER */

section {
    width: 100%;
    gap: 1em;
}
section > div:first-of-type {
    background-color: var(--accent-1);
    border-radius: 0.2em;
    padding: 0.4em 0.6em;
    width: 6em;
    aspect-ratio: 1;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 0.3em solid var(--black);
}

/* UTILS */

.font-fluid {
    font-size: var(--font-size-fluid-2);
}

.center {
    justify-content: center;
    align-items: center;
}

.column {
    display: flex;
    gap: 1em;
    flex-direction: column;
}
